@import '../../assets/styles/variables.scss';

.projects {
    position: relative;
    .empty-circle {
        z-index: -1;
        position: absolute;
        left: 22%;
        transform: translate(-50%, -50%);
        top: 50%;
        height: 500px;
        width: 500px;
        border-radius: 300px;
        background: linear-gradient(270deg, $pink 0%, $purple 50%, $cyan 100%);

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            height: 492px;
            width: 492px;
            border-radius: 300px;
            background-color: $dark;
        }
    }

    .square {
        z-index: -1;
        position: absolute;
        right: 22%;
        top: 45%;
        height: 300px;
        width: 300px;
        border-radius: 44px;
        background: linear-gradient(270deg, $pink 0%, $purple 50%, $cyan 100%);
    }

    &-title {
        margin-bottom: 48px;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 120px;
        margin-bottom: 120px;

    }
}