@import '../../assets/styles/variables.scss';
.project-card {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 44px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.3s ease;
    }


    &__details {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: absolute;
        top: 0;
        width: 101%;
        height: 101%;
        color: white;
        transition: opacity 0.3s ease;
        opacity: 0;
        box-shadow: inset 0px -300px 200px $dark;

        &:hover {
            opacity: 1;
        }

        &-container {
            padding: 10px 10px 0 24px;
        }
    }


}
