@import '../../assets/styles/variables.scss';

.about {
  position: relative;
  padding-bottom: 80px;

  &-section {
    position: relative;
    margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: 1fr;
      gap: 60px;
    }
  }

  &-square {
    z-index: -1;
    position: absolute;
    right: 22%;
    top: 45%;
    height: 300px;
    width: 300px;
    border-radius: 44px;
    background: linear-gradient(270deg, $pink 0%, $purple 50%, $cyan 100%);

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &-who {
    &__title {
      color: $pink;
      margin-bottom: 20px;
      margin-top: unset;
    }

    &__text {
      @media (min-width: 768px) and (max-width: 1024px) {
        margin-bottom: unset;
      }
    }
  }

  &-card {
    &__icon {
      font-size: 64px;
      color: $cyan;
    }

    &__description {
      text-align: center;
      font-size: 22px;
      height: 140px;

      @media (max-width: 768px) {
        font-size: 18px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        height: 100%;
        font-size: 26px;
      }
    }

    &__head {
      color: $white;
      font-size: 28px;
      margin-top: unset;
      text-align: center;
      line-height: 42px;
    }
  }
}
