@import '../../assets/styles/variables.scss';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(400px - 80px);
  padding: 48px 32px 48px 48px;
  border-radius: 48px;
  box-shadow: 8px 8px 4px $purple, inset 8px 8px 4px $cyan;
  gap: 24px;

  h3 {
    margin: unset;
    font-size: 32px;
    line-height: 100%;
  }

  p {
    margin: unset;
    line-height: 120%;
    letter-spacing: 4px;
  }

  @media (max-width: 1024px) {
    width: calc(100% - 72px);
    padding: 48px 32px;
  }
}