@import '../../assets/styles/variables.scss';

.contact {
  padding-bottom: 120px;

  @media (max-width: 1024px) {
    padding-bottom: 80px;
  }

  &-cards {
    width: 100%;
    display: flex;
    gap: 120px;
    margin-top: 72px;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 80px;
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 320px;

    &__icon {
        font-size: 64px;
        color: $cyan;
    }
    &__name {
      font-size: 18px;
    }
    &__info {
      color: $cyan;
      text-decoration: none;
      font-size: 20px;
      position: relative;
      height: max-content;
      width: max-content;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      &--mail {
        text-transform: lowercase;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      &--linkedin {
        text-transform: capitalize;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      &:hover {
        cursor: pointer;
        &:after {
          left: -2px;
          right: auto;
          width: 100%;
        }
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 5;
        right: 0;
        width: 0;
        bottom: -17px;
        background: $cyan;
        height: 2px;
        transition-property: width;
        transition-duration: .35s;
        transition-timing-function: ease-out;
      }
    }
  }
}