@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Abel-Regular.ttf') format('truetype');
}


body {
  font-family: 'Abel', sans-serif;
  color: #F3F3FF;
  background-color: #0F1724;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}